<div class="width-class">
    <div class="margin-class">
        <nz-tabset [nzSelectedIndex]="3">
            <nz-tab nzTitle="Manage Users">Content of Manage Users</nz-tab>
            <nz-tab nzTitle="Relitix User Agreement">Content of Relitix User Agreement</nz-tab>
            <nz-tab nzTitle="Relitix Message">
                <!-- <app-relitix-message></app-relitix-message> -->
                Content of Relitix Message
            </nz-tab>
            <nz-tab nzTitle="Privacy Policy">
                <app-privacy-policy-tab></app-privacy-policy-tab>
            </nz-tab>
        </nz-tabset>
    </div>
</div>